@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    background-color:cadetblue;
    padding-top: 10px;
    position: relative;
}
.nav{
    display: flex;
    list-style: none;
}
.nav li{
    list-style: none;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;;
}

.nav li a{
    text-decoration: none;
    color:black;
    padding: 18px 29px;
}

.nav li:hover a{
    background-color: lightcyan;
    color: black;
}

.banner .content h4{
    color:lightgoldenrodyellow;
    font-size: 35px;
    padding-top: 25%;
    text-align: center;
    font-family: Georgia;
}
.banner .content p{
    color: lightgoldenrodyellow;
    font-size: 23px;
    margin:2px;
    text-align: center;
    font-family: Georgia;
}
.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 60%;
    border: 1px solid black;
    border-radius: 50px;
}

.Search{
    width: 50%;
    text-align: right;
    padding-bottom: 5px;
    padding-top: 3px;
}
#search{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 250px;
    font-size: 15px;
}

.btn{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 6px  10px;
    background: none;
}
.btn:hover{
    background-color: lightcyan;
    color: black;
}
.background{
    background: url("/static/images/bg1.jpg");
    background-size: cover;
    width: max-content;
}

.background{
    height:100vh;
}
.banner .content{
    width: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.banner .content .btnbtn{
    width: 100px;
    padding: 2px 3px;
    margin: 2px;
}
h3{
    padding: 10px;
    font-size: 25px;
    text-decoration: underline;
}
.aboutUs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2% 10%;
}
.aboutUs .photo img{
    height: 150px;
    width: 150px;
    border: 1px solid white;
    border-radius: 150px;
    padding: 6px 9px;
}
.aboutUs-left{
    flex-direction: row-reverse;
}
.aboutUs .info{
    color: #000;
    font-size: 20px;
    text-align: left;
}

.aboutUs .info h2{
    font-family: 'Ubuntu', sans-serif;
}

.aboutUs .info p{
    text-decoration: none;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

#about h3{
    padding-left: 10%;
}
#about a{
    font-size: 25px;
    text-align: center;
    padding: 10%;
}
.contact{
    background-color:azure;
    background: cover;
}
.contact .form{
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 10%;
    margin-top: 20px;
    margin-right: 350px;
    padding-bottom: 1%;
    margin-bottom: 25px;
}
.contact .form .forms input{
    padding: 10px;
    width: 700px;
    margin: 7px;
    border: 1px solid black;
    border-radius: 12px;;
    font-family: sans-serif;
}
.contact .form .forms textarea{
    padding: 10px;
    width: 700px;
    margin: 7px;
    border: 1px solid black;
    border-radius: 12px;;
    font-family: sans-serif;
}
.contact h2{
    width: 500px;
    font-size: 25px;
    padding-top: 1%;
    padding-left: 37%;
    font-family: sans-serif;
}

.contact .form .forms h6{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact .form .btn{
    padding-top: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
    margin-bottom: 7px;
    margin-left: 7px;
    background-color: gainsboro;

}
.About{
    background-color:aliceblue;
    background: cover;
}

.footer{
    display: flex;
    background: snow;
}
.footer .projname{
    padding: 2% 5%;
    margin: 10px;
    font-size: 35px;
    font-family: sans-serif;
}
.footer .projname p{
    font-size: 15px;;
}

.footer .logos{
    display: flex;
    padding-left: 300px;;
}
.footer .logos a img{
    margin: 15px;
    height: 35px;
    padding-top: 100px;
}
.footer .logos h5{
font-size: 15px;
padding-top: 28%;
}

footer{
    background-color: snow;
    display: flex;
  padding-top: 2%;

}
footer img{
    height:15px;
}
footer p{
    font-size: 14px;;
}

.alert{
    border-radius: 12px;
    background-color: darkseagreen;
    color: #000;
    font-size: 17px;
    font-family: sans-serif;
    text-align: -webkit-center;
    padding: 1%;
    width: 720px
}
.burger{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 33px;
    top: 10px;
}
.line{
    width: 33px;
    height: 4px;
    background-color: white;
    margin: 5px 3px;
}

@media only screen and (max-width: 1084px){
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 100%;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .Search{
        width: 16%;
    }
    #search{
        width: 145%;
    margin-left: -27px;
    }
    .btn{
        width: 67%;
        margin-right: 28%;
    }
    .nav li a{
        padding: 2px 3px;
    }

    .burger{
        display: block;
    }
    .h-nav{
         height: 40px;;
    }
    .v-class{
        opacity: 0;
    }

}