@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    font-style: Georgia;
}
.banner .content h4{
    color:lightgoldenrodyellow;
    font-size: 35px;
    padding-top: 25%;
    text-align: center;
    font-family: Georgia;
}
.banner .content p{
    color: lightgoldenrodyellow;
    font-size: 23px;
    margin:2px;
    text-align: center;
    font-family: Georgia;
}
.logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 60%;
    border: 1px solid black;
    border-radius: 50px;
}
.Search{
    width: 50%;
    text-align: right;
    padding-top: 10px;
}
#search{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    width: 250px;
    font-size: 15px;
}
.nav{
    display: flex;
    list-style: none;
    position: sticky;
}
.navbar{
    display: flex;
    padding-top: 10px;
    position: sticky;
}

.nav li{
    list-style: none;
    padding-top: 10px;;
}

.nav li a{
    text-decoration: none;
    color: lightgoldenrodyellow;
    padding: 18px 29px;
}

.nav li:hover a{
    background-color: lightcyan;
    color: black;
}

.btn{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 6px  10px;
    background: none;
}
.btn:hover{
    background-color: lightcyan;
    color: black;
}
.background{
    background: url("/static/images/bg1.jpg");
    align-items: center;
    background-size: cover;
}

.background{
    height:100vh;
}
.banner .content{
    width: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.banner .content .btnbtn{
    width: 100px;
    padding: 2px 3px;
    margin: 2px;
}
h3{
    padding: 10px;
    font-size: 25px;
    text-decoration: underline;
}
.aboutUs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 2% 10%;
}
.aboutUs .photo img{
    height: 150px;
    width: 150px;
    border: 1px solid white;
    border-radius: 150px;
    padding: 6px 9px;
}
.aboutUs-left{
    flex-direction: row-reverse;
}
.aboutUs .info{
    color: #000;
    font-size: 20px;
    text-align: left;
}

.aboutUs .info h2{
    font-family: 'Ubuntu', sans-serif;
}

.aboutUs .info p{
    text-decoration: none;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}

#about h3{
    padding-left: 10%;
}
#about a{
    font-size: 25px;
    text-align: center;
    padding: 10%;
}
#contact{
    background-color:azure;
    background: cover;
}
.contact .form {
    padding: 2% 30%;
}
.contact .form input {
    padding: 2%;
    width: 500px;
    margin: 5px;
    border: 1px solid darkgray;
}
.contact h2 {
    width: 500px;
    font-size: 25px;
    padding-left: 37%;
}