<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width", initial-scale="1.0">
        <title>Clover Kingdom</title>
        <link rel = "stylesheet" type = "text/css" href="{% static 'css/index.css' %}">
        <link rel = "stylesheet" type = "text/css" href="{% static 'css/regis.css' %}">
        <link rel = "shortcut icon" href="{% static 'images/logo.png' %}">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
    </head>
    <body>
    {% block body %}
    {% endblock body %}
    <footer>
        <img src={% static 'images/cpy.png' %} alt="copyright">
        <p>CopyrightClover2022-All rights reserved</p>
    </footer>
    <script src="{% static 'js/repo.js' " %}"></script>
    </body>
</html>