{% extends 'base.html' %}
{% load static %}

{% block body %}
<section class="banner" id="home">
        <nav class ="navbar h-nav">
            <ul class ="nav v-class">
            <div class ="logo">  <a href="http://127.0.0.1:8000/"> <img src = {% static 'images/logo.png' %} alt="Logo"></a></div>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">AboutUs</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="Search v-class">
                <input type="text" name="search" id="search">
                <button type = "button" class="btn btn-sm">Search</button>
            </div>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
            <div class="content background">
                <h4>
                    Welcome to Clover Kingdom
                </h4>
                <p>Thank you for choosing to visit us. We are more than happy to have you here. <strong>Register Now</strong> to be a part of us.</p>
                <button type = "button" class="btnbtn" >Register Now</button>
            </div>
        
        </section>
    
    <hr>
    <section class ="About" id = "about">
    <h3>Messages from Top Officers</h3>
    <section class="aboutUs af-resp">
        <div class ="info">
            <h2>Julius Novachrono - Wizard'sKing</h2>
            <p>Welcome to clover kingdom, minnasan. Our kingdom is really prosperous in terms of humanity and magic and 
                blablabla Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur laboriosam temporibus 
                provident enim tempora molestiae esse officia doloremque cupiditate repellendus ipsum alias eveniet, 
                nemo perferendis, tempore aliquid suscipit? Corrupti, vel!</p>
        </div>
        <div class="photo">
            <img src={% static 'images/king.jpg' %} alt="Julius">
        </div>
    </section>
    <section class="aboutUs aboutUs-left af-resp">
        <div class ="info">
            <h2>Yami Sukehiro - BlackBullsCaptain</h2>
            <p>Yo, I'm not really interested in these kindof things. So, I'll let the brats handle it. 
                But one thing i want to make clear, whoever hurts my brats, BUKHOROSZOU. Finral, duty calls. 
                I'll kill you William. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, impedit. 
                Cumque, ratione. Iure hic earum praesentium sit repellat eos exercitationem quae iste nostrum, 
                at voluptatibus saepe deleniti id voluptas optio porro laudantium facere. Beatae ipsa reprehenderit 
                adipisci vel debitis non maxime eligendi.</p>
        </div>
        <div class="photo">
            <img src={% static 'images/CEO.jpg' %} alt="yami">
        </div>
    </section>
    <section class="aboutUs af-resp">
        <div class ="info">
            <h2>William Vangeance - GoldenDawnCaptain</h2>
            <p>Hello. I am William Vangeance, Captain of Golden Dawn.
            If you are of royal blood and not a peasant, you are always welcome to join us. 
            If not, you can join BlackBulls lol. But, dont hold us back. hehe ok bye.Lorem ipsum dolor sit 
            amet consectetur adipisicing elit. Eum, impedit. Cumque, ratione. Iure hic earum praesentium sit 
            repellat eos exercitationem quae iste nostrum, at voluptati</p>
        </div>
        <div class="photo">
            <img src={% static 'images/william.jpg' %} alt="william">
        </div>
    </section>
    <a href ="#about" class ="clickme">Explore About Us</a>
    <br>
    <br>
    <br>
</section>
<hr>
<section class ="contact" id="contact">
    <h2 >Contact Us</h2>
    <div class = "form cf-resp">
        <form action="#contact" method="POST" >
            {% csrf_token %}
        <div class = "forms" action = "POST">
        <h6>Name:</h6>
        <input type = "text" name ="name" id = "name" placeholder="Enter your name">
        <h6>Kingdom:</h6>
        <input type = "text" list="kingd" name ="kingdom" id = "kingdom" placeholder="Enter your country">
        <datalist id="kingd">
            <option value="Spade Kingdom"></option>
            <option value="Clover Kingdom"></option>
            <option value="Heart Kingdom"></option>
            <option value="Diamond Kingdom"></option> 
          </datalist>
        <h6>Preferred Squad: </h6>
        <input type = "text" list = "squads" id = "squad" name ="squad"  placeholder="Choose any">
        <datalist id="squads">
            <option value="Golden Dawn"></option>
            <option value="Black Bull"></option>
            <option value="Silver Eagle"></option>
            <option value="Blue Rose"></option>
            <option value="Crimson Lion"></option>
            <option value="Green Mantis"></option> 
            <option value="Coral Peacock"></option> 
            <option value="Purple Orca"></option> 
            <option value="Aqua Deer"></option>  
          </datalist>
        
        <h6>Reason for contact:</h6>
        <textarea type = "text" name ="help" id = "help" placeholder = "Help needed" rows="6" cols="50"></textarea>
        <button class="btn btn-primary" type ="submit" >Submit</button>
        {% include 'msg.html' %}
    </form>
    </div>
</div>
    <br>
</section>

<hr>
<section class="footer">
    <div class = "projname ">
        <h6>CloverKingdom</h6>
        <p>A kingdom of love and magic.</p>
    </div>
    <div class = "logos">
        <h5>JOIN US in:</h5>
       <a href ="https://www.instagram.com/blackclover/?hl=en" target = "_blank"><img src={% static 'images/insta.png' %} alt="instagram"></a>
       <a href ="https://www.facebook.com/blackclover.fans/" target = "_blank"><img src={% static 'images/fb.png' %} alt="facebook"></a>
       <a href ="https://twitter.com/BlackClover_EN" target = "_blank"><img src={% static 'images/twt.png' %} alt="twitter"></a>
       <a href ="https://www.youtube.com/results?search_query=black+clover" target = "_blank"><img src={% static 'images/yt.png' %} alt="youtube"></a>
    </div>
</section>
<div class ="last">
<img src={% static 'images/cpy.png' %} alt="copyright">
<p>CopyrightClover2022-All rights reserved</p>
                </div>

{% endblock body %}