<!DOCTYPE html>
{% load static %}
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width", initial-scale="1.0">
        <title>Clover Kingdom</title>
        <link rel = "stylesheet" href="{% static 'css/index.css' %}">
        <link rel = "shortcut icon" href="{% static 'images/logo.png' %}">
    </head>
    <body>
        <div class ="background">
        <nav class ="navbar">
            <ul class ="nav">
                <div class ="logo"><img src = {% static 'images/logo.png' %} alt="Logo"></div>
                <li><a href="#home">Home</a></li>
                <li><a href="#aboutUs">AboutUs</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="Search">
                <input type="text" name="search" id="search">
                <button type = "button" class="btn btn-sm">Search</button>
            </div>
        </nav>
        <section class="banner" id="banner">
            <div class="content">
                <h4>
                    Welcome to Clover Kingdom
                </h4>
                <p>Thank you for choosing to visit us. We are more than happy to have you here. <strong>Register Now</strong> to be a part of us.</p>
                <button type = "button" class="btnbtn" >Register Now</button>
            </div>
        </section>
    </div>
    <section class="aboutUs">
        <div class ="info">
            <h3>Messages from Top Officers</h3>
        </div>
        <div class="photo">
            <img src={% static 'images/CEO.jpg' %} alt="CEO">
        </div>
    </section>
    </body>