{% extends 'base.html' %}
{% load static %}
{% block body %}
        <section class="banner">
        <nav class ="navbar h-nav">
            <ul class ="nav v-class">
            <div class ="logo">  <a href="http://127.0.0.1:8000/"> <img src = {% static 'images/logo.png' %} alt="Logo"></a></div>
                <li><a href="main">Home</a></li>
                <li><a href="main#about">AboutUs</a></li>
                <li><a href="main">Services</a></li>
                <li><a href="main#contact">Contact</a></li>
            </ul>
            <div class="Search v-class">
                <input type="text" name="search" id="search">
                <button type = "button" class="btn btn-sm">Search</button>
            </div>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
        </section>

        
{% endblock body %}